body {
  background: linear-gradient(90deg, rgba(24, 41, 50, 1) 0%, rgba(18, 82, 119, 1) 48%, rgba(24, 41, 50, 1) 100%);

  overflow: hidden;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  box-sizing: border-box;
  font-family: sans-serif;
  text-rendering: optimizeSpeed;

}

#zplane-container {
    width: 600px;
    height: 800px;
    margin: 20px auto;
    position: relative;
    
  }
  .graph_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 300px;
}
.input_container {
  position: relative;
  height: 3rem;
  width: 6rem;
  margin: 0.5rem;
}

.input_container button {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
}

.inpu  .radi {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  
 
  transition: all 0.3s ease;
}

.inpu .radi span {
  color: white;
  font-size: 1.5rem;
  margin-top: 3px;
}

.inpu .radi label {
  color: white;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  margin-top: 1px;
}
.graph_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 300px;
}

input:checked+.radio_tile {
  background-color: rgb(33, 34, 37);
  box-shadow: 0 0 8px rgb(33, 34, 37);
}

input:hover+.radio_tile {
  box-shadow: 0 0 8px rgb(33, 34, 37);
}

input:checked+.radio_tile label,
input:checked+.radio_tile span {
  color: white;
}

.inpu button {
  background-color: black;
  width: 5rem;
  height: 3rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  transition: ease 0.3s;
}

.circle-zero:hover {
  box-shadow: 0 0 8px rgb(229, 9, 9)
}

.circle-zero:active {
  scale: 0.94;
}

  #zplane-canvas {
    width: 100%;
    height: 100%;
  }
  
  #controls {
    text-align: center;
    margin-top: 20px;
  }
  
  button {
    margin: 0 5px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 4px;
    color: #000000;
    font-size: 18px;
  }
  
  
  span {
    content: "\0030";
    color: white
  }
  label {
    margin-left: 10px;
  }
  
  .clear {
    margin-left: 10px;
}

.clear button {
    background-color: rgb(202, 7, 7);
    width: 5rem;
    height: 3rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    transition: ease 0.3s;
}

.clear_btn:hover {
    box-shadow: 0 0 8px rgb(229, 9, 9)
}

.clear_btn:active {
    scale: 0.94;
}

.input_container {
  position: relative;
  height: 3rem;
  width: 6rem;
  margin: 0.5rem;
}

.input_container input {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
}

.input_container .radio_tile {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  border: 2px solid rgb(33, 34, 37);
  border-radius: 8px;
  transition: all 0.3s ease;
}

.input_container .radio_tile span {
  color: rgb(33, 34, 37);
  font-size: 1.5rem;
  margin-top: 3px;
}

.input_container .radio_tile label {
  color: rgb(33, 34, 37);
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  margin-top: 1px;
}


input:checked+.radio_tile {
  background-color: rgb(33, 34, 37);
  box-shadow: 0 0 8px rgb(33, 34, 37);
}

input:hover+.radio_tile {
  box-shadow: 0 0 8px rgb(33, 34, 37);
}

input:checked+.radio_tile label,
input:checked+.radio_tile span {
  color: white;
}
.z-plane {
  background-color: rgb(238, 238, 238);
  min-width: 410px;
  height: 685px;
  border-radius: 15px;
}

#canvas {
  transform: translateY(100px);
  margin-left: 25px;
  background: white;
  border-radius: 10px;
}
