<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!-- CSS and Fonts -->
   <link rel="stylesheet" href="../static/css/index.css">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

     <!-- Plotly -->
     <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

     
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  <title>Z-Plane Filter Designer</title>
</head>
<body>
  <div id="zplane-container">
    <canvas id="zplane-canvas"></canvas>
  </div>
  <div id="controls">
    <button id="clear-zeros">Clear Zeros</button>
    <button id="clear-poles">Clear Poles</button>
    <button id="clear-all">Clear All</button>
    <button id="draw-zeros">Draw Zeros</button>
    <button id="draw-poles">Draw Poles</button>
    <label for="add-conjugate">
      <input type="checkbox" id="add-conjugate">Add Conjugates</label>
  </div>
  <script src="/static/script.js"></script>
</body>
</html>
